	body {
		font-family: 'Nunito', sans-serif;
				overflow-x: hidden
	}

	#recept {
	 	background-color: #f41;
	  	color: white;
		text-align: center
	}	

	.rowtwo {
		background-color: #ffe26a;
	}
	
	#list { 
		list-style-type: none; 
		margin: 0px;
		padding-left: 10px
	}
	
	#list li {
		padding: 2px
	}
	
	#list li li{
		display: none;
	}
	
	#list a {
		font-size: 24px
	}
	
	#list a:hover {
		background-color: #f00;
		color:#fff;
		text-decoration: none;
		padding-right: 25px 
	}
	
	#menu {
		font-size: 30px;
		padding-left:12px
	}
	
	.btn-send {
		background-color: #fedf0f
	}
	
	.modal-dialog {
		background-color: white
	}
	
	.breadcrumb {
		background-color:#ffd900
	}

	ul.breadcrumb {
		padding: 10px 16px
	}
	
	ul.breadcrumb li {
		padding:8px
	}
	
	.cartext {
		color: black;
	}
	
	h3 {
		margin-top: 15px;
		margin-bottom:0px
	}
	
	img {
		width: 100%
	}

	a {
		color: #f22
	}

	a:hover {
		color: #f22;
		text-decoration: underline
	}

	a:visited {
		color:#e52d00
	}